@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-900 text-white antialiased;
    }
}

@layer utilities {
    .bg-gray-750 {
        background-color: rgb(35 40 50);
    }
}